body{
	background: #f1e7e7;
}

.audio-player-cont{
	width:98%;
	height: 135px;
	background: #f2c647;
	color: #fff;
	font-family: verdana;
	font-size: 12px;
	top:50%;
	left:50%;
	transform: translateX(-50%) translateY(-50%);
	position: absolute;
	border-bottom: 6px solid #fff600;
}

.player{
	margin: 7px;
}

.song-title{
	width: 300px;
	padding: 5px 0px 5px 0px;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}

.song-slider{
	width:100%;
}

.current-time{
	float:left;
	font-size: 10px;
}

.duration{
	float:right;
	font-size: 10px;
}

.controllers{
	clear: both;
	display: table;
}

.controllers *{
	vertical-align: middle;
	margin-right: 2px;
}

.volume-slider{
	width:150px;
	margin-left:5px;
}